.comment-bubble{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(247, 129, 91);
}

.comment-commenter{
    font-weight: 600;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 0.8rem;
}

.comment-content{
    font-size: 0.9rem;
    padding-left: 5px;
}