.recipe-card{
    display: flex;
    width: 16.5625rem;
    height: 21.5rem;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0rem 0rem 0.9375rem 0.9375rem;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.recipe-card:hover{
    transform: scale(1.02, 1.02);
}
.recipe-image{
    width: 16.5625rem;
    height: 12.5rem;
    flex-shrink: 0;
    border-bottom: 2px solid rgb(247, 129, 91);
    cursor: pointer;
}

.carousal{
    width: 16.5625rem;
    height: 12.5rem;
}
.carousel .slide {
    width: 16.5625rem;
    height: 12.5rem;
}

.carousal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-name-container{
    display: flex;
    width: 100%;
    height: 5.4375rem;
    padding: 0.5rem 0 0.5rem;
    justify-content: center;
    /* gap: 0.625rem; */
    /* flex-shrink: 0; */
}

.recipe-title{
    color: #040404;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 90%;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    /* text-align: center; */
}

.cuisine-indicator{
    color: rgb(247, 129, 91);
    font-size: 1rem;
    font-weight:500;
}

.card-bottom-left-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 2;
    height: 6.8rem;
}

.card-cuisine{
    font-size: 1.1rem;
    font-weight: 60;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.card-cuisine-div{
    width: 100%;
    padding-left: 12px;
    padding-top: 0.4rem;
    /* text-align: center; */
}

.recipe-card-bottom-section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 6.0625rem;
}

.recipe-button-container{
    display: flex;
    width: 100%;
    justify-content: center;
    
}

.add-to-list-btn{
    width: 7.3125rem;
    height: 1.75rem;
    border-radius: 0.3125rem;
    font-size: 1.2rem;
    height: 1.75rem;
    background: rgb(18, 20, 33);
    color: #FFF;
    border: 0;
    cursor: pointer;
    margin-left: 3rem;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);

}

.add-to-list-btn:hover{
    background-color: rgb(247, 129, 91);
    /* color: rgb(18, 20, 33); */
}

.recipe-card-buttons{
    display: flex;
    width: 3rem;
    height: 6.0625rem;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.25rem;
    flex-shrink: 0;
}

.card-svg{
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.card-svg:hover{
    transform: scale(1.1, 1.1);
}

.svg-with-count{
    display: flex;
    width: 7rem;
    justify-content: space-evenly;
    padding: auto;
    width: 100%;
    position: relative;
    right: 10px;
    bottom: 15px;
}

.svg-with-count svg{
    width: 1.5rem;
    height: 1.5rem;
}

.svg-with-count span{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    font-size: 1.2rem;
    font-weight: 400;
}

.card-ingredient-info{
    height: 60px;
    overflow-y: auto;
    padding-left: 10px;
    margin-bottom: 2px;
}

.card-ingredient-info:hover{
    transform: scale(1.01, 1.01);
    background-color: rgb(233, 233, 233);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.card-ingredient-text{
    font-size: 1rem;
}

.red-like{
    color: rgb(235, 69, 69);
}

.in-list{
    background-color: rgba(247, 129, 91, 0.8);
    color: #FFF;
}

.click-here-div{
    position: relative;
    top: -225px;
    right: -170px;
    transform: rotate(-30deg);
    cursor: pointer;
}