.recipe-modal-content{
    display: flex;
    width: 100%;
    height: 100%;
}

.recipe-modal-content-left{
    display: flex;
    width: 65%;
    height: 100%;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.recipe-modal-content-right{
    display: flex;
    width: 35%;
    border-left:1px solid gray;
    padding:0 10px 0;
    flex-direction: column-reverse;
    justify-content: space-between
}

.send-comment{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.comments-header, .showcase-header{
    padding: 0;
    margin: 0;
}

.showcase-header{
    background-color: rgba(247, 129, 91, 0.8);
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 15px 50px 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: rgb(18, 20, 33);
}
.comments-container{
    display: flex;
    flex-direction: column;
    height: 70%;
    overflow-y: auto;
}

.modal-image-container{
    width: 16.5625rem;
    height: 12.5rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.modal-image-container:hover{
    transform: scale(1.02, 1.02);
}

.modal-image{
    width: 16.5625rem;
    height: 12.5rem;
}

.empty-comment-section{
    text-align: center;
    font-weight: 700;
    padding-top: 3rem;
    color: rgb(18, 20, 33);
}