.myButton-container{
    display: flex;
    justify-content: flex-end;
}

.myButton{
    background-color: rgb(247, 129, 91);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 3px;
    padding: 5px 5px 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    margin: 5px 0;
    font-weight: 500;
}

.myButton:hover{
    background-color: rgb(18, 20, 33);
    color: rgb(255, 255, 255);
}

