.home-container{
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px 25px 25px;
    justify-content: center;
}

.home-header{
    position: sticky;
    top: 10px;
    color: rgb(18, 20, 33)
}

.empty-shopping-list{
    display: flex;
    flex-direction: column;
}